/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .header .logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header .nav ul {
    list-style: none;
    display: flex;
  }
  
  .header .nav ul li {
    margin-right: 20px;
  }
  
  .header .nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .header .nav ul li a:hover {
    text-decoration: underline;
  }
  
  a {
    /*pointer-events: none; /* Prevents clicking on the link */
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
  }
